# Configuration file for ves-openapi-manager Makefile

# Consts
COMPOSE = docker-compose
MVN = mvn
DOCKER = docker
SSH = ssh

# Image
IMAGE=onap/org.onap.dcaegen2.platform.ves-openapi-manager

# Port-forwarding configuration
RKE_IP=10.129.36.103
WORKER_IP=10.129.36.116
MESSAGE_ROUTER_PORT=30000
SSH_LAB_KEY_PATH=~/Scripts/labs_keys/onap-8414.pem
